* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root{
    --primary-color: #ec1f55;
    --text-color: #333;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-color: #f5f5f5;
}

.player{
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.dashboard{
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
}

.player .icon-pause{
    display: none;
}

.player.playing .icon-pause{
    display: inline-block;
}

.player.playing .icon-play{
    display: none;
}

/* header */

header{
    text-align: center;
    margin-bottom: 10px;
}

header .time{
    position: relative;
    right: 13px;
}

header .header-nav{
    display: flex;
    justify-content: space-between;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
    padding: 10px 0px;
}

header h2{
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd{
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb{
    height: 480px;
    /* width: 100%;
    padding-top: 100%; */
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* Control */
.control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px 0px 26px 0px;
}

.control .btn{
    color: #666;
    font-size: 18px;
    /* padding: 18px; */
}

.control .btn-play{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

/* Progress */
.progress{
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb{
    /* -webkit-appearance: none; */
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Playlist */

.playlist{
    margin-top: 808px;
    padding: 12px;
}

.song{
    display: flex;
    align-items: center;
    
}